@keyframes pular {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 200px;
  }
}

html, body{
  padding: 0;
  margin: 0;
}

section {
  position: fixed;
  animation: pular 1s .5s infinite alternate forwards;
  background-image:url("https://vignette2.wikia.nocookie.net/rickandmorty/images/1/1e/Rick_and_morty_icon.png/revision/latest?cb=20150805041642"),
              url("http://vignette4.wikia.nocookie.net/rickandmorty/images/f/f4/Rick_and_Morty_Logo_and_Image.png/revision/latest?cb=20151017201849")
              ;
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  padding: 20px;
  /* padding: 10px 60px; */
  /* padding: 0px 30px 40px 120px; */
  /*padding-top: 100px;
  padding-right: 10px;
  padding-bottom: 10px;*/
  /*padding-left: 10px;
  margin: 30px 5px;
  border: transparent 10px solid;
  border-color: green blue rgb(130,0,90) hsl(60,100%,50%);
  border-width:  10px 30px 100px 50px;*/
}

img {
  position: fixed;
  width: 100px;
  height: 100px;
  object-fit: cover;
  background: red;
  border-radius: 50%;
  transform: rotateY(45deg) scale(1);
  transition: 1s;
  animation: pular 1s infinite alternate forwards;
}

img:hover {
  transform: rotateY(720deg) scale(1.2);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

section::after{
  content: "IMAGEM: ";
}
