body *{
  background: rgba(0,0,0,.25);
}

div:first-of-type{
  bottom: 0px;
  margin-bottom: -40px;
  position: absolute;

  border: red 2px solid;
}

div{
  width: 50px;
  height: 50px;
}

article{

  width: 200px;
  height: 200px;
}

section{
position: relative;
  width: 400px;
  height: 400px;
}
