@keyframes pular {
  0% {
    top: 100px;
    left: 0px;
    transform: rotate(0deg) skewX(-20deg);
  }
  100% {
    top: 0px;
    left: 300px;
    transform: rotate(180deg) skewX(45deg);
  }
}

section {
  /*animation: pular 2s infinite alternate;
  position: fixed;
  background: hsl(200, 50%, 70%);
  width: 100px;
  height: 100px;*/
  /* padding: 20px; */
  /* padding: 10px 30px; */
  /* padding: 0px 20px 50px 30px; */
  /*padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  text-align: center;

  border-color: red green blue hsl(180, 100%, 50%);
  border-style: solid;
  border-width: 10px 20px 50px 3px;

  text-transform: uppercase;
  box-shadow: 10px 10px 15px #000;
  text-shadow: 2px 2px 4px #000000;
  transform: rotate(30deg);
  opacity: 0.5;
  cursor: pointer;
  border-radius: 15px;*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("https://vignette2.wikia.nocookie.net/rickandmorty/images/1/1e/Rick_and_morty_icon.png/revision/latest?cb=20150805041642"),
                    url("https://vignette1.wikia.nocookie.net/vsbattles/images/a/a6/WSJPFVQ.png/revision/latest?cb=20151119020338");
  background-size: cover, contain;
  text-align: center;
  transition: 1s;
  box-shadow: 10px 10px 15px #ccc;
}

section:hover{
  border-radius: 0%;
  box-shadow: 2px 2px 2px #333;
}
