section,
article,
div {
  background: hsla(200, 80%, 50%, 0.25);
}

section {
  width: 400px;
  height: 400px;
  position: relative;
}

article {
  width: 300px;
  height: 300px;
  position: relative;
}

div {
  width: 50px;
  height: 50px;
  border: red 2px solid;
  bottom: 0px;
  position: absolute;
}

div:nth-child(2){
  right: 20px;
}
