section,
article,
div {
  background: hsla(200, 80%, 50%, 0.25);
}

section {
  width: 400px;
  height: 400px;
  position: relative;
}

article {
  width: 500px;
  height: 300px;
  position: relative;
}

div {
  width: 100px;
  height: 50px;
  border: red 2px solid;
  bottom: 0px;
  position: fixed;
}

div:nth-child(2){
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
